/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h1 {
  color: darkorchid;
  font-size: 200%;
}

p {
  text-indent: 300px;
}

.content2 {
  width: 500px;
  border: dotted 3px black;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #DDD8C4;
}